.Nav .container{
  padding: 18px;
  background-color: #fff159;
  button {
    border-radius: 0 2px 2px 0;
    width: 42px;
    border: 0 rgba(0, 0, 0, 0.2);
    background-color: #eeee;
    right: 41px;
  }
}
.flex-grid {
  display: flex;  
  justify-content: center;
  input {
    padding: 7px 60px 9px 15px;
    width: 60vw;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    border: 0 rgba(0, 0, 0, 0.2);
  }
}
.col {
  padding: 0px 10px;
}
